extends layout

block content
  #intro
    h1 BK COFFEE CO
    :markdown
      A smooth taste for happy times
  #mission
    .text
      h2 Our mission
      p Give customers customizable small batch flavor with a consistent experience.
  #step1
    .step1
      .title
        h3 Step 1: Choose Your Buzz
      .product
        .image
          img(src="../img/coffee.jpg")
          .description
            h3 Original Cold Brew
      .product
        .image
          img(src="../img/coffee.jpg")
          .description
            h3 Half Caff Cold Brew
      .product
        .image
          img(src="../img/coffee.jpg")
          .description
            h3 Low Caff Cold Brew
        
  #step2
    .step2
      .title
        h3 Step 1: Choose Your Buzz
      .product
        .image
          img(src="../img/coffee.jpg")
          .description
            h3 Original Cold Brew
      .product
        .image
          img(src="../img/coffee.jpg")
          .description
            h3 Half Caff Cold Brew
      .product
        .image
          img(src="../img/coffee.jpg")
          .description
            h3 Low Caff Cold Brew
            
    
    //- #footer
    //-   .social
    //-     ul 
    //-       li Instagram
    //-       li Facebook
    //-       li Twitter
