@import '_settings'

normalize-css()
base()

body
  padding: 0px
img
  max-width: 100%

#intro
  bg: '/img/bg.jpg' no-repeat center -150px fixed
  background-size: cover
  text-align: center
  margin: 0 auto
  padding: 10% 0
  color: white
  h1
    font-size: 4em
  p
    font-size: 2em

#mission
  background: #3398a7
  text-align: center
  padding: 15em 0
  .text
    center(700px)
    h2
      margin: 0 auto
      font-size: 3em
      color: white
    p
      font-size: 2em
      color: white



#step1
  background: green
  .step1
    center(1200px)
    .title
      text-align: center
      h3
        font-size: 4em

    .product
      margin: 4em 0
      background: black
      col(1/3)
      +below(700px)
        col()
      .image
        .description
            padding:2em

#step2
  background: white
  .step2
    center(1200px)
    .title
      text-align: center
      h3
        font-size: 4em

    .product
      margin: 4em 0
      background: black
      col(1/3)
      +below(700px)
        col()
      .image
        .description
            padding:2em

  // RANGE
  input[type=range]
    -webkit-appearance none
    margin 100px 0
    width 100%

  input[type=range]:focus
    outline none
    &::-webkit-slider-runnable-track
      background #ac51b5
    &::-ms-fill-lower
      background #ac51b5
    &::-ms-fill-upper
      background #ac51b5

  input[type=range]::-webkit-slider-runnable-track
    width 100%
    height 40px
    cursor pointer
    animate 0.2s
    box-shadow 0px 0px 0px #000000, 0px 0px 0px #0d0d0d
    background #ac51b5
    border-radius 25px
    border 0px solid #000101

  input[type=range]::-webkit-slider-thumb
    box-shadow 0px 0px 0px #000000, 0px 0px 0px #0d0d0d
    border 0px solid #000000
    height 50px
    width 60px
    border-radius 7px
    background #65001c
    cursor pointer
    -webkit-appearance none
    margin-top -5.6px

  input[type=range]::-moz-range-track
    width 100%
    height 12.8px
    cursor pointer
    animate 0.2s
    box-shadow 0px 0px 0px #000000, 0px 0px 0px #0d0d0d
    background #ac51b5
    border-radius 25px
    border 0px solid #000101

  input[type=range]::-moz-range-thumb
    box-shadow 0px 0px 0px #000000, 0px 0px 0px #0d0d0d
    border 0px solid #000000
    height 20px
    width 39px
    border-radius 7px
    background #65001c
    cursor pointer

  input[type=range]::-ms-track
    width 100%
    height 12.8px
    cursor pointer
    animate 0.2s
    background transparent
    border-color transparent
    border-width 39px 0
    color transparent

  input[type=range]::-ms-fill-lower
    background #ac51b5
    border 0px solid #000101
    border-radius 50px
    box-shadow 0px 0px 0px #000000, 0px 0px 0px #0d0d0d

  input[type=range]::-ms-fill-upper
    background #ac51b5
    border 0px solid #000101
    border-radius 50px
    box-shadow 0px 0px 0px #000000, 0px 0px 0px #0d0d0d

  input[type=range]::-ms-thumb
    box-shadow 0px 0px 0px #000000, 0px 0px 0px #0d0d0d
    border 0px solid #000000
    height 20px
    width 39px
    border-radius 7px
    background #65001c
    cursor pointer


#footer
  center(1200px)
